@model DiplomService.ViewModels.EventApplication.ApplicationDataViewModel

@{
    ViewData["Title"] = "Добавление участника";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="intro" style="height:50vh">
    <div class="intro__column">
        <p class="title-text">Заполните список участников</p>
    </div>
</div>
<div class="container">
    <form method="post" enctype="multipart/form-data" id="applicationForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EventId"/>

        <div class="form-group my-2">
            <label asp-for="ApplicationDatas.SecondName" class="control-label">Фамилия*</label>
            <input asp-for="ApplicationDatas.SecondName" class="login-form__input form-control" />
            <span asp-validation-for="ApplicationDatas.SecondName" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label asp-for="ApplicationDatas.Name" class="control-label">Имя*</label>
            <input asp-for="ApplicationDatas.Name" class="login-form__input form-control" />
            <span asp-validation-for="ApplicationDatas.Name" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label asp-for="ApplicationDatas.LastName" class="control-label">Отчество*</label>
            <input asp-for="ApplicationDatas.LastName" class="login-form__input form-control" />
            <span asp-validation-for="ApplicationDatas.LastName" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label asp-for="ApplicationDatas.Course" class="control-label">Курс или класс*</label>
            <input asp-for="ApplicationDatas.Course" class="login-form__input form-control" />
            <span asp-validation-for="ApplicationDatas.Course" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label asp-for="ApplicationDatas.PhoneNumber" class="control-label">Номер телефона*</label>
            <input asp-for="ApplicationDatas.PhoneNumber" type="tel" class="login-form__input form-control" />
            <span asp-validation-for="ApplicationDatas.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label asp-for="ApplicationDatas.Email" class="control-label">Электронная почта*</label>
            <input asp-for="ApplicationDatas.Email" type="email" class="login-form__input form-control" />
            <span asp-validation-for="ApplicationDatas.Email" class="text-danger"></span>
        </div>

        <div class="form-group my-2">
            <label asp-for="ApplicationDatas.Birthday" class="control-label">Дата рождения*</label>
            <input asp-for="ApplicationDatas.Birthday" type="date" class="login-form__input form-control" />
            <span asp-validation-for="ApplicationDatas.Birthday" class="text-danger"></span>
        </div>

        @if (Model.DivisionsExist)
        {
            <div class="form-group my-2">
                <label asp-for="ApplicationDatas.DivisionId" class="control-label">Подразделение*</label>
                <select asp-for="ApplicationDatas.DivisionId" class="login-form__input form-control">
                    @{
                        for (int j = 0; j < Model.Divisions.Count; j++)
                        {
                            <option value="@Model.Divisions[j].Id">@Model.Divisions[j].Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="ApplicationDatas.DivisionId" class="text-danger"></span>

                <label asp-for="ApplicationDatas.DivisionDirector" class="control-label">Глава подразделения</label>
                @{
                    if (Model.ApplicationDatas.DivisionDirector)
                    {
                        <input asp-for="ApplicationDatas.DivisionDirector" type="checkbox" class="form-check-inline" checked />
                    }
                    else
                    {
                        <input asp-for="ApplicationDatas.DivisionDirector" type="checkbox" class="form-check-inline" />
                    }
                }
            </div>
        }

        <div class="d-flex justify-content-between">
            <input type="submit" value="Отправить" class="btn btn-primary w-25 mt-3" />
        </div>
    </form>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
