@model Event;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Удаление события";
}
@section Styles {
    <link rel="stylesheet" href="~/css/cabinetstyle.css" asp-append-version="true" />
}

<div class="intro" style="height:40vh">
    <div class="intro__column">
        <p class="intro__title">Удаление события @Model.Name</p>
    </div>
</div>

<div class="container">
    <div class="navigation-block">
        <partial name="_NavPartial" />
    </div>
    <p class="text-success">@ViewBag.Message</p>
    <p class="text-danger">@ViewBag.ErrorMessage</p>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <p>Укажите причину удаления.</p>
        <textarea name="reason" class="login-form__input textarea-input"></textarea>
        <input type="submit" value="Сохранить" class="btn btn-primary w-25 mt-3" />
    </form>
</div>