@model List<DiplomService.Models.News>
@{
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/cabinetstyle.css" asp-append-version="true" />
}

<div class="intro" style="height:40vh">
    <div class="intro__column">
        <p class="title-text">Новости.</p>
    </div>
</div>
<div class="container">
    <div class="navigation-block">
        <partial name="_NavPartial" />
    </div>
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-controller="News" asp-route-id="@item?.Id" class="item-block my-2">
            @if (item.Image != null)
            {
                string? mimeType = item.MimeType; // MIME-тип по умолчанию

                if (mimeType != null)
                {
                    <img src="data:@mimeType;base64,@Convert.ToBase64String(item.Image)" alt="Image" class="item-block__image">
                }
            }
            else
            {
                <img src="/Images/camara.png" alt="Image" class="item-block__image">
            }
            <div class="item-block__column">
                <p class="item-block__title">@item.Title</p>
                <p class="item-block__text">
                    @item.Description
                </p>
                <p class="item-block__text">@item.DateTime.ToShortDateString()</p>
            </div>
        </a>
    }
</div>
