@model DiplomService.ViewModels.EventApplication.EventApplicationViewModel
@{
    var index = ViewData["Index"] as int? ?? 0;
}
<p class="measureTitle">Участник @(index+1)</p>
<div class="itemBlock">
    <div class="form-group my-2 position-relative">
        <input type="hidden" id="ApplicationDatas_@(index)__UserId" name="ApplicationDatas[@(index)].UserId">

        <label class="control-label" for="ApplicationDatas_@(index)__Name">ФИО*</label>
        <input class="login-form__input form-control userSuggestionInput valid" type="text" data-val="true" data-val-required="Поле обязательно к заполнению" id="ApplicationDatas_@(index)__Name" name="ApplicationDatas[@(index)].Name" value="" aria-describedby="ApplicationDatas_@(index)__Name-error" aria-invalid="false">
        <span class="text-danger field-validation-valid" data-valmsg-for="ApplicationDatas[@(index)].Name" data-valmsg-replace="true"></span>

        <div class="suggestionsUserDropdown" style="position: absolute; z-index: 10; display: none;"></div>
    </div>
    <div class="additionalData">
        <div class="form-group my-2">
            <label class="control-label" for="ApplicationDatas_@(index)__Course">Курс или класс*</label>
            <input class="login-form__input form-control" type="number" data-val="true" data-val-range="Недопустимый курс" data-val-range-max="11" data-val-range-min="1" id="ApplicationDatas_@(index)__Course" name="ApplicationDatas[@(index)].Course" value=""><input name="__Invariant" type="hidden" value="ApplicationDatas[@(index)].Course">
            <span class="text-danger field-validation-valid" data-valmsg-for="ApplicationDatas[@(index)].Course" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group my-2">
            <label class="control-label" for="ApplicationDatas_@(index)__PhoneNumber">Номер телефона*</label>
            <input type="tel" class="login-form__input form-control" id="ApplicationDatas_@(index)__PhoneNumber" name="ApplicationDatas[@(index)].PhoneNumber" value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="ApplicationDatas[@(index)].PhoneNumber" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group my-2">
            <label class="control-label" for="ApplicationDatas_@(index)__Email">Электронная почта*</label>
            <input type="email" class="login-form__input form-control valid" data-val="true" data-val-regex="Некорректный адрес" data-val-regex-pattern="[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}" id="ApplicationDatas_@(index)__Email" name="ApplicationDatas[@(index)].Email" value="" aria-describedby="ApplicationDatas_@(index)__Email-error" aria-invalid="false">
            <span class="text-danger field-validation-valid" data-valmsg-for="ApplicationDatas[@(index)].Email" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group my-2">
            <label class="control-label" for="ApplicationDatas_@(index)__Birthday">Дата рождения*</label>
            <input type="date" class="login-form__input form-control" id="ApplicationDatas_@(index)__Birthday" name="ApplicationDatas[@(index)].Birthday" value=""><input name="__Invariant" type="hidden" value="ApplicationDatas[@(index)].Birthday">
            <span class="text-danger field-validation-valid" data-valmsg-for="ApplicationDatas[@(index)].Birthday" data-valmsg-replace="true"></span>
        </div>
    </div>
     @if (Model.DivisionsExist)
     {
         <div class="form-group my-2">
            <label class="control-label" for="ApplicationDatas_@(index)__DivisionId">Подразделение*</label>
            <select class="login-form__input form-control valid" id="ApplicationDatas_@(index)__DivisionId" name="ApplicationDatas[@(index)].DivisionId" aria-invalid="false">
                @{
                    for (int j = 0; j < Model.Divisions.Count; j++)
                    {
                        <option value="@Model.Divisions[j].Id">@Model.Divisions[j].Name</option>
                    }
                }
             </select>
            <span class="text-danger field-validation-valid" data-valmsg-for="ApplicationDatas[@(index)].DivisionId" data-valmsg-replace="true"></span>
         </div>
     }
</div>
