<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrograMath</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <div class="header__body">
            <a href="/Home/">
                <img src="~/Images/logoImg.png" alt="" class="header__logo">
            </a>
            <div class="header__nav-div">
                <div class="burger-button active">
                    <span />
                </div>
                <a href="/News/" class="header-nav__item">Новости</a>
                <a href="/Events/" class="header-nav__item">Текущие события</a>
                <a href="/Organizations/" class="header-nav__item">Участники</a>
                <partial name="_LoginPartial" />
            </div>
            <div class="burger-button">
                <span />
            </div>
        </div>
    </header>
    <header class="pop-up-header">
        <div class="header__body">
            <a href="/Home/">
                <img src="~/Images/logoImg.png" alt="" class="header__logo">
            </a>
            <div class="header__nav-div">
                <div class="burger-button active">
                    <span />
                </div>
                <a href="/News/" class="header-nav__item">Новости</a>
                <a href="/Events/" class="header-nav__item">Текущие события</a>
                <a href="/Organizations/" class="header-nav__item">Участники</a>
                <partial name="_LoginPartial" />
            </div>
            <div class="burger-button">
                <span />
            </div>
        </div>
    </header>
    @RenderBody()

    <div class="fixed-block">
        @await RenderSectionAsync("Faq", false)
        <a href="#" class="fixed-block__image" style="display:none;"></a>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DiplomService - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
