@using DiplomService.ViewModels.AuthViewModels
@model RegistrationViewModel

@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<div class="container">
    <div class="vertical-center-block">
        <form asp-action="Registration" method="post" enctype="multipart/form-data" class="login-form">
            <p class="login-form__big-text">Заполните данные</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <span class="text-danger">@ViewBag.Error</span>
            <div class="w-100 my-2">
                <label asp-for="SecondName" class="control-label text-left"></label>
                <input asp-for="SecondName" class="login-form__input" placeholder="Фамилия*" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>

            <div class="w-100 my-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="login-form__input" placeholder="Имя*" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="w-100 my-2">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="login-form__input" placeholder="Отчество*" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="w-100 my-2">
                <label asp-for="WorkingPlace" class="control-label"></label>
                <input asp-for="WorkingPlace" class="login-form__input" placeholder="Образовательная организация*" />
                <span asp-validation-for="WorkingPlace" class="text-danger"></span>
            </div>
            <div class="w-100 my-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="login-form__input" placeholder="Почта*" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="w-100 my-2">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="login-form__input" placeholder="Номер телефона*" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="w-100 my-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="login-form__input" placeholder="Пароль*" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="w-100 my-2">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="login-form__input" placeholder="Подтверждение пароля*" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <input type="submit" value="Регистрация" class="login-form__submit" />
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
