@model DiplomService.ViewModels.EventApplication.EventApplicationViewModel

@{
    ViewData["Title"] = "Заявка на участие";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="intro" style="height:50vh">
    <div class="intro__column">
        <p class="intro__title">Заполните список участников</p>
    </div>
</div>
<div class="container">
    <form method="post" enctype="multipart/form-data" id="applicationForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EventId"/>
        <div id="holder">
            <p class="h5">Список заявок:</p>
            @{
                for (int i = 0; i < Model.ApplicationDatas.Count; i++)
                {
                    <p class="measureTitle">Участник</p>
                    <div class="itemBlock">
                        <div class="form-group my-2 position-relative">
                            <input type="hidden" asp-for="ApplicationDatas[i].UserId"/>

                            <label asp-for="ApplicationDatas[i].Name" class="control-label">ФИО*</label>
                            <input asp-for="ApplicationDatas[i].Name" class="login-form__input form-control userSuggestionInput"/>
                            <span asp-validation-for="ApplicationDatas[i].Name" class="text-danger"></span>

                            <div class="suggestionsUserDropdown" style="position: absolute; display: none; z-index:10"></div>
                        </div>
                        <div class="additionalData" style="@(Model.ApplicationDatas[i].UserId is not null? "display:none":"")">
                            <div class="form-group my-2">
                                <label asp-for="ApplicationDatas[i].Course" class="control-label">Курс или класс*</label>
                                <input asp-for="ApplicationDatas[i].Course" class="login-form__input form-control" />
                                <span asp-validation-for="ApplicationDatas[i].Course" class="text-danger"></span>
                            </div>
                            <div class="form-group my-2">
                                <label asp-for="ApplicationDatas[i].PhoneNumber" class="control-label">Номер телефона*</label>
                                <input asp-for="ApplicationDatas[i].PhoneNumber" type="tel" class="login-form__input form-control" />
                                <span asp-validation-for="ApplicationDatas[i].PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group my-2">
                                <label asp-for="ApplicationDatas[i].Email" class="control-label">Электронная почта*</label>
                                <input asp-for="ApplicationDatas[i].Email" type="email" class="login-form__input form-control" />
                                <span asp-validation-for="ApplicationDatas[i].Email" class="text-danger"></span>
                            </div>
                            <div class="form-group my-2">
                                <label asp-for="ApplicationDatas[i].Birthday" class="control-label">Дата рождения*</label>
                                <input asp-for="ApplicationDatas[i].Birthday" type="date" class="login-form__input form-control" />
                                <span asp-validation-for="ApplicationDatas[i].Birthday" class="text-danger"></span>
                            </div>
                        </div>
  
                        @if (Model.DivisionsExist)
                        {
                            <div class="form-group my-2">
                                <label asp-for="ApplicationDatas[i].DivisionId" class="control-label">Подразделение*</label>
                                <select asp-for="ApplicationDatas[i].DivisionId" class="login-form__input form-control">
                                @{
                                    for (int j = 0; j < Model.Divisions.Count; j++)
                                    {
                                        <option value="@Model.Divisions[j].Id">@Model.Divisions[j].Name</option>
                                    }
                                }
                                </select>
                                <span asp-validation-for="ApplicationDatas[i].DivisionId" class="text-danger"></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>

        <div class="d-flex justify-content-between">
            <div class="btn btn-primary w-25 mt-3" id="addBtn">
                Добавить
            </div>
            <input type="submit" value="Отправить" class="btn btn-primary w-25 mt-3" />
        </div>
    </form>
</div>
@section Faq {
    <div id="faq">
    </div>
    <div id="faq-body">
        <p class="h5 fw-bold">Последовательность действий:</p>
        <ul>
            <li>
                Заполните всю информацию об участнике, которого хотите зарегистрировать.
            </li>
            <li>
                Выбирете направление, на которое хотите зарегистрировать участника.
            </li>
            <li>
                Сохраните информацию.
            </li>
            <li>
                Ожидайте ответа организатора. Статус заявки на участие можно посмотреть в личном кабинете.
            </li>
        </ul>
   
    </div>
}
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/EventApplication.js"></script>
    }
}