@using DiplomService.ViewModels.User;
@model UpdatePasswordViewModel
@{
    ViewData["Title"] = "Смена пароля";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/cabinetstyle.css" asp-append-version="true" />
}

<div class="intro" style="height:40vh">
    <div class="intro__column">
        <p class="intro__title">Смена пароля</p>
    </div>
</div>

<div class="container">
    <div class="navigation-block">
        <partial name="_NavPartial" />
    </div>
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="form-group my-2">
            <label asp-for="OldPassword" class="control-label"></label>
            <input asp-for="OldPassword" class="login-form__input form-control"/>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="login-form__input form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group my-2">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="login-form__input form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <input type="submit" value="Сохранить" class="login-form__submit d-block w-25 m-lg-auto" />
    </form>
</div>
