@using DiplomService.ViewModels.User;
@model EndRegistrationViewModel;

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<div class="container d-flex justify-content-center h-100 flex-column">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <p class="h2">Личные данные</p>
        <div class="d-flex align-items-center mb-4">
            <div class="w-25 me-4">
                <label asp-for="@Model.PreviewImageFile" class="control-label"></label>
                <div class="form-group d-flex flex-column">
                    <img src="/Images/camara.png" alt="Image" id="previewImage" class="item-block__image">
                    <div>
                        <input asp-for="PreviewImageFile" style="display:none" id="previewImageButton" accept=".png, .jpg, .jpeg .gif" class="btn" type="file" placeholder="" />
                        <p onclick="document.getElementById('previewImageButton').click()" class="login-form__submit pointer-event text-center">Выберите файл</p>
                    </div>
                </div>
                <span asp-validation-for="PreviewImageFile" class="text-danger"></span>
            </div>
            <div class="w-75">
                <div class="w-100 my-2">
                    <label asp-for="SecondName" class="control-label text-left"></label>
                    <input asp-for="SecondName" class="login-form__input" placeholder="Фамилия*" />
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>
                <div class="w-100 my-2">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="login-form__input" placeholder="Имя*" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="w-100 my-2">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="login-form__input" placeholder="Отчество*" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="w-100 my-2">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="login-form__input" placeholder="Номер телефона*" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group my-2">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/showImage.js" asp-append-version="true"></script>
